<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <!-- {% if site.linkedin_url %} -->
        <!-- <p class="view"><a href="{{ site.linkedin_url }}" target="_blank">View My LinkedIn Profile</a></p> -->
        {% endif %}
      </header>
      <section>
      {{ content }}
      </section>
      <footer>
        {% if site.show_downloads %}
        <p><a href="{{ site.pdf_resume }}" target="_blank">Download Resume (md)</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
